@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

// variaveis
$cor-padrao-escuro: #8F8A7C;
$cor-titulo: #BFDBD2;
$fonte-branca: #FFF;


body {
    background-color: $cor-padrao-escuro;
    color: $fonte-branca;
}

header {
    background-color: #DBD9D4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.356);
}

/*alinhando o cabeçalho */

.cabecalho .lista-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

a {
    text-decoration: none;
    color: $cor-padrao-escuro;
    font-size: 40px;
    font-family: 'Italianno', cursive; 
}


a:hover {
    text-decoration: underline;
    color: #8C818F;
}

.lista-menu li img {
    width: 120px;
}


/*conteudo principal da página*/
main {
    text-align: center;
}

h1 {
    font-size: 4em;
    padding: 20px;
    margin: 15px 0 30px 0;
    color: $cor-titulo;
    font-family: 'Italianno', cursive;
}

.sessao-inicial {
    display: inline-block;
    border: 1px solid white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
    border-radius: 3px;
    width: 80%;
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
}

.artigo-inicial {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.letra-grande::first-letter {
    font-size: 3em;
}

.sessao-inicial p {
    width: 110%;
    text-align: start;
    font-size: 18px;
    letter-spacing: 1px;
}

.sessao-inicial img {
    display: inline-block;
    width: 400px;
    margin: 0 5% 0 0;
}

/*sobre*/

.sessao-sobre {
    margin: 5% 0 0 0;
    padding: 3% 7%;
    background-color: white;
    height: 50%;
}

h2 {
    font-size: 3.5em;
    margin: 15px 0 30px 0;
    color: $cor-titulo;
    font-family: 'Italianno', cursive;
}

.sessao-article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid $cor-padrao-escuro;
    border-bottom: 1px solid $cor-padrao-escuro;
    padding: 0 0 3% 0;
    width: 80%;
    margin: 0 10%;
}

.paragrafo-sobre {
    color: $cor-padrao-escuro;
    width: 55%;
    font-size: 18px;
    text-align: start;
    letter-spacing: 1px;
}

.sessao-sobre img {
    width: 300px;
}

/*Fotos*/

.minhas-fotos {
    padding: 1px;
    width: 90%;
    margin: 2% auto;
}

.minhas-fotos ul {
    display: inline-block;
    margin: 3%;
}

.minhas-fotos li {
    display: inline-block;
    width: 20%;
    padding: 0 0 5% 0;
    margin: 0 1%;
}

.minhas-fotos img {
    display: block;
    width: 100%;
    border: 2px solid white;
}

/*Contato*/

.section-contato {
    background-color: white;
    padding: 1% 7%;
}

.section-contato p {
    color: $cor-padrao-escuro;
    font-size: 18px;  
}

.contato {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.formulario {
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
    color: $cor-padrao-escuro;
    padding-top: 3%;  
}

form label {
    font-size: 18px;
    text-align: justify;
    margin: 10px 0 0 15%;
    font-weight: bold;
}

form input, textarea {
    width: 70%;
    padding: 0.5%;
    margin-left: 15%; 
}

.botao-enviar {
    width: 150px;
    margin: 3% auto;
    background-color: $cor-padrao-escuro;
    border-radius: 5px;
    color: $fonte-branca;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
}

.input-checkbox {
    width: auto;
    margin: auto;
}

.botao-enviar:hover {
    background-color: $cor-titulo;
}

.section-contato img {
    width: 300px;
    border: 2px solid $cor-padrao-escuro;
}

/*footer*/

footer {
    margin: 3% 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.137);
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 10px auto; 
}

footer p {
    width: 210px;
}

footer ul {
    display: flex;
    width: 100px;
    text-align: end;
}

footer li {
    width: 30px;
}

footer img {
    width: 25px;
}